.CheckSequences {
	.list {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
	}
	.item {
		flex-grow: 1;
		> p {
			text-align: center;
			margin: 0;
		}
	}
}

.wrapper {
	margin-bottom: 5px;
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 16px;
}
